### Python virtual environment
.venv/

### cache
__pycache__/
*.egg-info/
cdk.context.json

### build artifacts
cdk.out/
dist/

### secret files
.env

### Terraform
.terraform/
*.tfstate
*.tfstate.backup

### personal files
.claude/settings.local.json
